In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
from sklearn.decomposition import PCA

In [3]:
# Machine learning algorithms for categorical 

from sklearn.linear_model import LogisticRegression # this name is logisticRegression but it support the classification problems
from sklearn.svm import SVC # Support vector classifier
from sklearn.naive_bayes import GaussianNB # Gaussian naive bayes
from sklearn.neighbors import KNeighborsClassifier # KNN neighbors classifier
from sklearn.tree import DecisionTreeClassifier # Decision Tree Classifier
from sklearn.ensemble import RandomForestClassifier # Random forest classifier

In [5]:
dataSetOne = pd.read_csv('CKD.csv')

In [6]:
dataSetOne['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [11]:
dataSetOne.loc[dataSetOne['classification'] == 'ckd', 'classification'] = 'yes'
dataSetOne.loc[dataSetOne['classification'] == 'ckd\t', 'classification'] = 'yes'
dataSetOne.loc[dataSetOne['classification'] == 'notckd', 'classification'] = 'no'

In [12]:
dataSetOne['classification'].value_counts()

yes    250
no     150
Name: classification, dtype: int64

In [15]:
dataSetOne = pd.get_dummies(dataSetOne, drop_first = True)
dataSetTwo = dataSetOne

In [17]:
dataSetTwo.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,dm_\tyes,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes,classification_yes
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,0,0,0,1,1,0,0,0,0,1
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,0,0,1,0,1,0,0,0,0,1
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,0,0,0,1,1,0,1,0,1,1
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,0,0,1,0,1,0,1,1,1,1
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,0,0,1,0,1,0,0,0,0,1

In [18]:
independent_x = dataSetTwo.drop('classification_yes', 1)
dependent_y = dataSetTwo['classification_yes']

In [19]:
independent_x.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,htn_yes,dm_\tyes,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,1,0,0,0,1,1,0,0,0,0
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,0,0,0,1,0,1,0,0,0,0
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,0,0,0,0,1,1,0,1,0,1
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,1,0,0,1,0,1,0,1,1,1
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,0,0,0,1,0,1,0,0,0,0

In [20]:
dependent_y.head()

0    1
1    1
2    1
3    1
4    1
Name: classification_yes, dtype: uint8

In [41]:
def PrincipleComponentAnalysis(xTrain, xTest, n):
    pca = PCA(n_components = n)
    xTrain = pca.fit_transform(xTrain)
    xTest = pca.transform(xTest)
    explanied_variance = pca.explained_variance_ratio_
    return xTrain, xTest, explanied_variance

In [22]:
def SplitTrainTest(X, Y):
    xTrain, xTest, yTrain, yTest = train_test_split(X, Y, test_size = 0.25, random_state = 0)
    return xTrain, xTest, yTrain, yTest

# Algorithm predication accuracy

In [27]:
def cm_prediction(classifier, xTest):
    yPred = classifier.predict(xTest)
    
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(yTest, yPred)    
    
    from sklearn.metrics import accuracy_score 
    from sklearn.metrics import classification_report 
    
    Accuracy=accuracy_score(yTest, yPred )
    
    report = classification_report(yTest, yPred)
    return classifier, Accuracy, report, xTest, yTest, cm

In [33]:
# logistic function
def logistic(xTrain, yTrain, xTest):
    classifier = LogisticRegression(random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# support vector classifier (svc)
def SVM_linear(xTrain, yTrain, xTest):
    classifier = SVC(kernel = 'linear', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# support vector classifier (svc)
def SVM_rbf(xTrain, yTrain, xTest):
    classifier = SVC(kernel = 'rbf', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# Navie bayes
def GaussianNaveiBayes(xTrain, yTrain, xTest):
    classifier = GaussianNB()
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# K nearest neighbour
def KNearestNeighbour(xTrain, yTrain, xTest):
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm


# Decision tree
def DecisionTree(xTrain, yTrain, xTest):
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# Random forest
def randomForest(xTrain, yTrain, xTest):
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# Accuracy

In [23]:
accuracyLogistic = []
accuracySVMLinear = []
accuracySVMrbf = []
accuracyGaussianNaveBayes = []
accuracyKNearestNeighbour = []
accuracyDecisionTree = []
accuracyrandomForest = []

# first

In [75]:
xTrain, xTest, yTrain, yTest = SplitTrainTest(independent_x, dependent_y)

# Second

In [76]:
xTrain, xTest, explanied_variance = PrincipleComponentAnalysis(xTrain, xTest, 2)

# Thrid

In [77]:
classifier, Accuracy, report, xTest, yTest, cm = logistic(xTrain, yTrain, xTest)
accuracyLogistic.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = SVM_linear(xTrain, yTrain, xTest)
accuracySVMLinear.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = SVM_rbf(xTrain, yTrain, xTest)
accuracySVMrbf.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = GaussianNaveiBayes(xTrain, yTrain, xTest)
accuracyGaussianNaveBayes.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = KNearestNeighbour(xTrain, yTrain, xTest)
accuracyKNearestNeighbour.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = DecisionTree(xTrain, yTrain, xTest)
accuracyDecisionTree.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = randomForest(xTrain, yTrain, xTest)
accuracyrandomForest.append(Accuracy)

In [78]:
accuracyValues = [
accuracyLogistic,
accuracySVMLinear,
accuracySVMrbf,
accuracyGaussianNaveBayes,
accuracyKNearestNeighbour,
accuracyDecisionTree,
accuracyrandomForest]

# fourth

In [79]:
def selectkDataFrame(data):
    dataFrame = pd.DataFrame(index = ['Principle component anlaysis'], columns = ["logistic", 'SVMLinear', 'SVMrbf', 'GaussianNaveBayes', 'KNN', 'DecisionTree', 'RandomForest'])
    for x, i in enumerate(dataFrame.columns):
        dataFrame[i] = accuracyValues[x][0]
    return dataFrame

In [80]:
result = selectkDataFrame(accuracyValues)

In [81]:
result

,logistic,SVMLinear,SVMrbf,GaussianNaveBayes,KNN,DecisionTree,RandomForest
Principle component anlaysis,0.81,0.81,0.87,0.89,0.85,0.78,0.85