In [1]:
import pandas as pd

In [2]:
# Kernel PCA 
from sklearn.decomposition import KernelPCA

In [3]:
# Split the train and test
from sklearn.model_selection import train_test_split

In [4]:
# standardScaler
from sklearn.preprocessing import StandardScaler

In [5]:
# Machine learning algorithms for categorical 

from sklearn.linear_model import LogisticRegression # this name is logisticRegression but it support the classification problems
from sklearn.svm import SVC # Support vector classifier
from sklearn.naive_bayes import GaussianNB # Gaussian naive bayes
from sklearn.neighbors import KNeighborsClassifier # KNN neighbors classifier
from sklearn.tree import DecisionTreeClassifier # Decision Tree Classifier
from sklearn.ensemble import RandomForestClassifier # Random forest classifier

# load the dataSet

In [6]:
dataSet = pd.read_csv('CKD.csv')

In [7]:
dataSet.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [8]:
dataSet['classification'].value_counts()

ckd       248
notckd    150
ckd\t       2
Name: classification, dtype: int64

In [9]:
dataSet.loc[dataSet['classification'] == 'ckd', 'classification'] = 'yes'
dataSet.loc[dataSet['classification'] == 'ckd\t', 'classification'] = 'yes'
dataSet.loc[dataSet['classification'] == 'notckd', 'classification'] = 'no'

In [10]:
dataSet['classification'].value_counts()

yes    250
no     150
Name: classification, dtype: int64

In [11]:
dataSet = pd.get_dummies(dataSet, drop_first = True)

In [12]:
dataSet.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,dm_\tyes,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes,classification_yes
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,0,0,0,1,1,0,0,0,0,1
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,0,0,1,0,1,0,0,0,0,1
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,0,0,0,1,1,0,1,0,1,1
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,0,0,1,0,1,0,1,1,1,1
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,0,0,1,0,1,0,0,0,0,1

In [13]:
# X
independent = dataSet.iloc[:, :len(dataSet.columns)-1]

In [14]:
independent.head()

,age,bp,sg,al,su,bgr,bu,sc,sod,pot,...,htn_yes,dm_\tyes,dm_ yes,dm_no,dm_yes,cad_no,cad_yes,appet_poor,pe_yes,ane_yes
0,48.0,80.0,1.0200,1.0,0.000000,121.000000,36.0,1.2,137.528754,4.627244,...,1,0,0,0,1,1,0,0,0,0
1,9.0,55.0,1.0200,4.0,0.000000,148.036517,18.0,0.8,137.528754,4.627244,...,0,0,0,1,0,1,0,0,0,0
2,62.0,80.0,1.0100,2.0,1.125356,223.500000,53.0,1.8,137.528754,4.627244,...,0,0,0,0,1,1,0,1,0,1
3,48.0,70.0,1.0075,4.0,0.000000,117.000000,56.0,3.8,126.000000,2.800000,...,1,0,0,1,0,1,0,1,1,1
4,51.0,80.0,1.0100,2.0,0.000000,106.000000,26.0,1.4,137.528754,4.627244,...,0,0,0,1,0,1,0,0,0,0

In [15]:
# y
dependent = dataSet['classification_yes']

In [16]:
dependent.head()

0    1
1    1
2    1
3    1
4    1
Name: classification_yes, dtype: uint8

In [17]:
independent = independent.values
dependent = dependent.values

# split the train and test

In [18]:
def SplitTrainTest(independent, dependent):
    xTrain, xTest, yTrain, yTest = train_test_split(independent, dependent, test_size = 0.25, random_state = 0)
    return xTrain, xTest, yTrain, yTest

# Standard scaler

In [19]:
def Standard_Scaler(xTrain, xTest):
    sc = StandardScaler()
    xTrain = sc.fit_transform(xTrain)
    xTest = sc.transform(xTest)
    return xTrain, xTest

# Linear discriminant analysis

In [20]:
def Kernel_PCA(xTrain, xTest):
    kpca = KernelPCA(n_components = 2, kernel='rbf')
    xTrain = kpca.fit_transform(xTrain)
    xTest = kpca.transform(xTest)
    return xTrain, xTest

In [21]:
# accuracy container
accuracyLogistic = []
accuracySVMLinear = []
accuracySVMrbf = []
accuracyGaussianNaveBayes = []
accuracyKNearestNeighbour = []
accuracyDecisionTree = []
accuracyrandomForest = []

# Algorithm predication accuracy

In [22]:
def cm_prediction(classifier, xTest):
    yPred = classifier.predict(xTest)
    
    from sklearn.metrics import confusion_matrix
    cm = confusion_matrix(yTest, yPred)    
    
    from sklearn.metrics import accuracy_score 
    from sklearn.metrics import classification_report 
    
    Accuracy=accuracy_score(yTest, yPred )
    
    report = classification_report(yTest, yPred)
    return classifier, Accuracy, report, xTest, yTest, cm

# Model creation

In [23]:
# logistic function
def logistic(xTrain, yTrain, xTest):
    classifier = LogisticRegression(random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# support vector classifier (svc)
def SVM_linear(xTrain, yTrain, xTest):
    classifier = SVC(kernel = 'linear', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# support vector classifier (svc)
def SVM_rbf(xTrain, yTrain, xTest):
    classifier = SVC(kernel = 'rbf', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# Navie bayes
def GaussianNaveiBayes(xTrain, yTrain, xTest):
    classifier = GaussianNB()
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# K nearest neighbour
def KNearestNeighbour(xTrain, yTrain, xTest):
    classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm


# Decision tree
def DecisionTree(xTrain, yTrain, xTest):
    classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# Random forest
def randomForest(xTrain, yTrain, xTest):
    classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    classifier.fit(xTrain, yTrain)
    classifier, Accuracy, report, xTest, yTest, cm = cm_prediction(classifier, xTest)
    return classifier, Accuracy, report, xTest, yTest, cm

# First split the train and test

In [24]:
xTrain, xTest, yTrain, yTest = SplitTrainTest(independent, dependent)

# Second change the value into standardscaler

In [25]:
xTrain, xTest = Standard_Scaler(xTrain, xTest)

# Third Linear Discriminant Analysis

In [26]:
xTrain, xTest = Kernel_PCA(xTrain, xTest)

# Fourth  model

In [27]:
classifier, Accuracy, report, xTest, yTest, cm = logistic(xTrain, yTrain, xTest)
accuracyLogistic.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = SVM_linear(xTrain, yTrain, xTest)
accuracySVMLinear.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = SVM_rbf(xTrain, yTrain, xTest)
accuracySVMrbf.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = GaussianNaveiBayes(xTrain, yTrain, xTest)
accuracyGaussianNaveBayes.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = KNearestNeighbour(xTrain, yTrain, xTest)
accuracyKNearestNeighbour.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = DecisionTree(xTrain, yTrain, xTest)
accuracyDecisionTree.append(Accuracy)

classifier, Accuracy, report, xTest, yTest, cm = randomForest(xTrain, yTrain, xTest)
accuracyrandomForest.append(Accuracy)

C:\Users\REVANTH KUMAR\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\REVANTH KUMAR\Anaconda3\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [28]:
accuracyValues = [
accuracyLogistic,
accuracySVMLinear,
accuracySVMrbf,
accuracyGaussianNaveBayes,
accuracyKNearestNeighbour,
accuracyDecisionTree,
accuracyrandomForest]

In [29]:
accuracyValues

[[0.84], [0.91], [0.91], [0.9], [0.95], [0.93], [0.93]]

# Fifth dataFrame

In [30]:
def selectkDataFrame(data):
    dataFrame = pd.DataFrame(index = ['Kernel PCA'], columns = ["logistic", 'SVMLinear', 'SVMrbf', 'GaussianNaveBayes', 'KNN', 'DecisionTree', 'RandomForest'])
    for x, i in enumerate(dataFrame.columns):
        dataFrame[i] = accuracyValues[x][0]
    return dataFrame

In [31]:
result = selectkDataFrame(accuracyValues)

In [32]:
result

,logistic,SVMLinear,SVMrbf,GaussianNaveBayes,KNN,DecisionTree,RandomForest
Kernel PCA,0.84,0.91,0.91,0.9,0.95,0.93,0.93